@charset "UTF-8"; 

@media  (min-width:320) and (max-width:600) {
  *{padding-right: 0px;margin-right: 0px; padding: 0px; margin: 0px;}
  html,body,section{width: 100%;padding-right: 0px;
  
 

  }
  
}
