@charset "UTF-8";
.congresso{font-size: 20px;padding-left: 20px;}
.buttom{margin-left: 150px; margin-top: 30px;}
.sobre{padding-left: 130px;margin-bottom: 00px;padding-top: 10px;font-size: 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-top: -0px;padding-right: 10px;}
.bac{background-image: url(imgs/656aee4da269d77bee2c02bb81fc0c88.png); background-repeat: no-repeat;height: 250px;background-size:600px; height: 400px; margin-left: -30px;margin-right: -8px;}
.lorem{padding-left: 300px;padding-bottom: 10px;padding-right: 30px;margin-top: -120px; font-size: 15px;
}
.medico{width: 490px;padding-top: 60px;margin-left: -120px;margin-bottom: -200px;height: 500px;}

.dados1{}
.hea{border: 2px solid;}
.ins{background-color: #fb0101f1;width: 485px;margin-left: -10px;margin-top: -20px;min-width: 300px; color: white;}
.vivo{background-color:#015656cb;width: 482px;height: 250px;margin-left: -7px;margin-top: -20px;}
.confira{padding-left: 100px;; padding-top: 10px;padding-right:30PX; color: #2b193dd5;}
.publico{font-size: 13px;padding-right: 280px;padding-left: 4px;}
.border{border: 1px solid; width: 100px; box-shadow: -1px -1px 7px 5px cornflowerblue; background-color: #12b7b7f1;margin-left: 10px; border-radius: 10px; font-size: 7px;padding: 4px;}
.border2{border: 1px solid; width: 100px; box-shadow: -1px -1px 7px 5px cornflowerblue;  background-color: #12b7b7f1;margin-left: 154px;margin-top: -158px;border-radius: 10px; font-size: 7px; padding: 4px;margin-bottom: 20px;}
.border3{border: 1px solid; width: 100px; box-shadow: -1px -1px 7px 5px cornflowerblue; background-color:#12b7b7f1 ;margin-left: 280px;margin-top: -170px;border-radius: 10px; font-size: 7.8px; padding: 4px;}
.inscr{padding-left: 100px;}
.viv{margin-top: -120px;padding-bottom: 30px;}
.img{width: 160px;padding-left: 257px;}
.tivo{margin-top: -150px;padding-left: 10 ; font-size: 10px;}
.mais{margin-top: 30px; color: white;padding-bottom: 10px;padding-left: 20px;}
.it{margin-top: -20px; background-color: red; border-color: red; border-radius: 10px; color: white;}
.agora{margin-left: 150px;margin-bottom: 10px; background-color: #12b7b7f1; border-color: #12b7b7f1;border-radius: 5px; font-size: 20px;}
.coli{background-color: #106e6ef1;}
.aber{font-size: 10px;}
.phara{font-size: 9px;}
.phisio{font-size: 9px;}